{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i \"s#<Version>.*</Version>#<Version>${nextRelease.version}</Version>#g\" src/DevLab.Core/DevLab.Core.csproj && sed -i \"s#<Version>.*</Version>#<Version>${nextRelease.version}</Version>#g\" src/DevLab.WebApiDefaults/DevLab.WebApiDefaults.csproj",
        "publishCmd": "dotnet nuget push ./nupkg/*.nupkg --source \"https://nuget.pkg.github.com/pedrobarao/index.json\" --api-key $GH_PACKAGES_TOKEN --skip-duplicate"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "src/DevLab.Core/DevLab.Core.csproj", "src/DevLab.WebApiDefaults/DevLab.WebApiDefaults.csproj"],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ]
  ]
}